html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.text {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  font-size: 40px;
  font-family: sans-serif;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #837e7e;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

.operator {
  background-color: rgb(218, 119, 27);
}

.operator:hover {
  background-color: rgb(148, 77, 11);
}

button {
  height: 60px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
}

button:hover {
  background-color: rgb(197, 197, 197);
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.zero {
  grid-column: 1 / 3;
}
