html {
  font-family: sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.headline {
  font-size: 40px;
  font-weight: 700;
}

.navList {
  display: flex;
  gap: 20px;
  list-style-type: none;
  text-decoration: none;
}

.navList-item {
  color: black;
  text-decoration: none;
}

li {
  text-decoration: none;
  font-size: 25px;
}
